<div class="container text-center mt-5">
  <h1>Admin Dashboard</h1>
  <div class="row mt-4">
    <div class="col-md-6">
      <button
        [routerLink]="['/main-admin/view-events']"
        class="btn btn-primary btn-lg w-100"
      >
        View All Events
      </button>
    </div>
    <div class="col-md-6">
      <button
        [routerLink]="['/main-admin/view-users']"
        class="btn btn-secondary btn-lg w-100"
      >
        View All Users
      </button>
    </div>
  </div>
</div>
<div style="height: 500px"></div>
