<!-- Footer of MusicNook -->
<footer class="bg-dark text-white text-center py-3 mt-auto">
  <div class="mb-3">
    <a
      href="https://www.facebook.com/bookmyshow"
      target="_blank"
      class="text-white mr-3 p-3 social-icon"
    >
      <i class="fab fa-facebook-f"></i>
    </a>
    <a
      href="https://www.instagram.com/bookmyshowin"
      target="_blank"
      class="text-white mr-3 py-3 social-icon"
    >
      <i class="fab fa-instagram"></i>
    </a>
    <a
      href="https://twitter.com/BookMyShow"
      target="_blank"
      class="text-white mr-3 p-3 social-icon"
    >
      <i class="fab fa-twitter"></i>
    </a>
    <a
      href="https://www.linkedin.com/company/bookmyshow"
      target="_blank"
      class="text-white mr-3 p-3 social-icon"
    >
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
  &copy; 2024 MelodyNook. All rights reserved to thinkbridge.
</footer>
