.navbar-brand {
  padding-left: 15px; /* Customize as needed */
  padding-right: 15px; /* Customize as needed */
}

.nav-link {
  padding-left: 15px; /* Customize as needed */
  padding-right: 15px; /* Customize as needed */
}

.social-icon {
  padding-left: 15px; /* Customize as needed */
  padding-right: 15px; /* Customize as needed */
}
